doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    title 花咲か爺さん
  body
    div#about
     h1#hanasaka.p-v-03 花咲か爺さん
    script(src="js/bundle.js")